docopt==0.6.2
hypothesis==1.17.1
mypy-lang==0.2.0
Pillow==3.0.0
pyenchant==1.6.6
pylast==1.5.1
PyYAML==3.11
requests==2.8.1
six==1.10.0
SQLAlchemy==1.0.10
typing==3.5.0.1
wheel==0.24.0
pathlib==1.0.1
pytest==2.8.7
