body { background: #191919; font-family: 'Open Sans'; }

#header h1 { 
    font-size: 100px; 
    text-shadow: #202020 0px 0px 10px;
    text-align: center;
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-top: 50px;
    }
#header h2 { text-align: center; color: #d0d0d0; padding-top: 0px; margin-top: 0px;}

#navigation {
    position: fixed;
    bottom: 0px;
    right: 0px;
    margin: 25px 0px;
    padding-left: 0px;
}

#navigation a {
    background-color: #f4f4f4;
    display: block;
    border-left-style: solid;
    border-left-width: 5px;
    padding: 5px 10px;
    color: inherit;
    text-decoration: none;
}

#navigation a:hover { background: #efefef; }

.feature .command {
    background-color: #191919;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    color: #ffffff;
    margin-bottom: 0px;
    position: relative;
    border-bottom-width: 0px;
}

.feature .response {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    margin-top: 0px;
    border-top-width: 0px;
}

.feature .explanation {
    background-color: #202020;
    border-radius: 0px;
    margin-top:0px;
    margin-bottom:0px;
    border-top:0px;
    color: #d0d0d0;
}

.feature {
    background: #f4f4f4;
    border-left-style: solid;
    border-left-width: 6px;
    padding: 20px 35px;
}

#content { margin-top: 50px; }

.group {
    border-right-style: solid;
    border-right-width: 3px;
    padding-right: 4px;
    margin-top: 15px;
}

.group h1 {
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 15px;
}

.group h3 {
    margin-top:35px;
    text-align: right;
}    

.group h4 {
    margin: 4px 2px;
    text-align: right;
}    

.source {
    position: absolute;
    right:40px;
    top:30px;
}

.source a:hover { text-decoration: none; }

.feature:nth-child(even) { background: #efefef; }

td {
    text-align: center;
}